@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid theme("colors.primary.900");
  border-right-color: theme("colors.primary.200");
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  display: inline-block;
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid theme("colors.primary.200");
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.cart-count {
  height: 24px;
  width: 24px;
}
.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  float: none;
  justify-content: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.shoppingCartIcon {
  align-items: center;
  position: static;
  z-index: 1;
}
.shoppingCartCount {
  position: absolute;
  display: flex;
  align-items: center;
  left: 8px;
  top: 3px;
  z-index: 2;
}

.cart-image {
  aspect-ratio: auto 1/1;
}
/* .shoppingCartContainer {
  display: grid;
}

.shoppingCartIcon,
.shoppingCartCount {
  grid-column: 1;
  grid-row: 1;
} */
