@import "tailwindcss";

@theme {
  --color-primary-50: #fafaf9;
  --color-primary-100: #f5f5f4;
  --color-primary-200: #e7e5e4;
  --color-primary-300: #d6d3d1;
  --color-primary-400: #a8a29e;
  --color-primary-500: #78716c;
  --color-primary-600: #57534e;
  --color-primary-700: #44403c;
  --color-primary-800: #292524;
  --color-primary-900: #1c1917;
  --color-primary-950: #0c0a09;

  --color-accent-50: #fef2f2;
  --color-accent-100: #fee2e2;
  --color-accent-200: #fecaca;
  --color-accent-300: #fca5a5;
  --color-accent-400: #f87171;
  --color-accent-500: #ef4444;
  --color-accent-600: #dc2626;
  --color-accent-700: #b91c1c;
  --color-accent-800: #991b1b;
  --color-accent-900: #7f1d1d;
  --color-accent-950: #450a0a;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--color-primary-950);
      --foreground: #ededed;
    }
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
  }
}

.spinner {
  margin: 3.2rem auto 1.6rem;
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-primary-900);
  border-right-color: var(--color-primary-200);
  animation: rotate 1s infinite linear;
}

.spinner-mini {
  margin: 0;
  display: inline-block;
  width: 16px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--color-primary-200);
  border-right-color: transparent;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

.cart-count {
  height: 24px;
  width: 24px;
}
.shoppingCartContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  float: none;
  justify-content: flex-end;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.shoppingCartIcon {
  align-items: center;
  position: static;
  z-index: 1;
}
.shoppingCartCount {
  position: absolute;
  display: flex;
  align-items: center;
  left: 8px;
  top: 3px;
  z-index: 2;
}

.cart-image {
  aspect-ratio: auto 1/1;
}

.form-row {
  display: flex;
  font-size: 16px;
  margin-bottom: 16px;
}
label {
  width: 200px;
  align-items: center;
  font-size: 16px;
}
input[type="email"],
input[type="password"],
input[type="text"] {
  flex-grow: 0.67;
  padding: 5px;
  background-color: lightgray;
  color: #000;
}
